<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecouni_Projeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecouni_Projeto.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="logocima">
                <a href="https://ecouni.azurewebsites.net/">
                    <img src="~/logoboaa 2 (1).png" />
                </a>
            </div>
            <div class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EcoUni</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cadastrars" asp-action="Index">Cadastrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DownloadApp">Download App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
                        </li>
                    </ul>
                     <partial name="_LoginPartial" /> 
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <style>

        .nav-item {
            font-size: 1.2rem;
        }

        /* Estilizando a barra de navegação */
        .navbar-collapse {
            padding: 10px; /* Espaçamento interno */
        }

        /* Estilizando os itens da navegação */
        .navbar-nav .nav-item {
            margin-right: 10px; /* Espaçamento entre os itens */
        }

        /* Estilizando os links de navegação */
        .navbar-nav .nav-link {
            transition: color 0.3s; /* Transição suave de cor ao passar o mouse */
        }

        .nav-link {
            font-size: 1.2rem;
        }


            /* Estilizando os links de navegação quando passa o mouse */
            .navbar-nav .nav-link:hover {
                color: #007bff; /* Cor do texto ao passar o mouse */
            }

        .logocima{
            width: 170px;
            margin-top: 10px;
            margin-left: 10px;
        }

    

        .rodape {
            display: flex;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
       
    </style>



    <div class="rodape">
        <footer class="border-top footer text-mutede">
                &copy; 2024 - EcoUni
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
