@model IEnumerable<Ecouni_Projeto.Models.DownloadApp>

@{
    ViewData["Title"] = "Index";
}

<h1>FAÇA O DOWNLOAD DO APLICATIVO</h1>

<h2>CLICK AQUI E FAÇA O DOWNLOADO DO APP PARA ANDROID</h2>
<h2>CLICK AQUI E FAÇA O DOWNLOADO DO APP PARA IOS</h2>

<img src="~/celularcomlogo.png" alt="Alternate Text" />
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DownloadAppId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DownloadAppId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DownloadAppId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
