@model IEnumerable<Ecouni_Projeto.Models.DownloadApp>

@{
    ViewData["Title"] = "Index";
}

<style>

    body {
        margin: 0;
        padding: 0;
        background-image: url('/telafundo.png');
        background-size: cover; /* Garante que a imagem cubra todo o espaço disponível */
        background-position: center; /* Centraliza a imagem no corpo */
        background-attachment: fixed; /* Fixa a imagem no lugar enquanto a página é rolada */
    }

</style>

<h1>FAÇA O DOWNLOAD DO APLICATIVO</h1>

<h2>CLICK AQUI E FAÇA O DOWNLOADO DO APP PARA ANDROID</h2>
<h2>CLICK AQUI E FAÇA O DOWNLOADO DO APP PARA IOS</h2>

<img src="~/celularcomlogo.png" alt="Alternate Text" />
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DownloadAppId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DownloadAppId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DownloadAppId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
