 <style>

    body {
        margin: 0;
        padding: 0;
        background-image: url('/telafundo.png');
        background-size: cover; /* Garante que a imagem cubra todo o espaço disponível */
        background-position: center; /* Centraliza a imagem no corpo */
        background-attachment: fixed; /* Fixa a imagem no lugar enquanto a página é rolada */
    }


    img {
        width: 60%; /* Aumentando a largura da imagem */
        margin-left: 20px; /* Adicionando um espaçamento à esquerda da imagem */
    }

    .container {
        display: flex;
        align-items: flex-start; /* Alinhando os itens no topo da div */
        flex-wrap: wrap;
    }

        .container > div {
            flex: 1; /* Faz o conteúdo da div ocupar todo o espaço disponível */
            margin-top: 150px; /* Adicionando um espaçamento superior */
            font-family: "Andika New Basic";
        }

    h1 {
        font-size: 40px; /* Diminuindo o tamanho do título */
        margin-bottom: 10px; /* Adicionando um espaçamento inferior */
        color: #2A629A;
    }

    p {
        font-size: 1.3em; /* Diminuindo o tamanho do texto */
        margin-bottom: 40px; /* Adicionando um espaçamento inferior */
        position: relative; /* Posição relativa para facilitar a posição do botão */
    }

    .ler-mais-btn {
        bottom: 5px; /* Ajustando a distância do botão do final do parágrafo */
        left: 0;
        padding: 10px 15px;
        border: none;
        color: white; /* Cor do texto do botão */
        border-radius: 20px;
        background: #21689E;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        text-decoration: none;
    }

</style>

<body>
    <div class="container">
        <div>
            <h1>Reciclagem de Resíduos</h1>
            <p>
                Descubra nosso projeto de gestão de resíduos da UNIFAAT! Separamos os materiais em três categorias: Recicláveis, Não Recicláveis e Papel Reciclável. Saiba mais em nossa página dedicada!
            </p>
            <a href="https://localhost:7091/Home/SobreNos" class="ler-mais-btn">Ler Mais</a>
    </div>
        <img src="~/imageminicio.png" alt="Descrição da imagem">
</body> 

           
@* <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/telafundo.png');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;
            max-width: 2000px;
            margin: 0px;
        }

            .container > div {
                flex: 1;
                margin-bottom: 20px;
            }

        img {
            width: 50%;
            margin-left: 40px;
            margin-right: 0px; /* Adicionei um espaçamento à direita da imagem */
        }

        h1 {
            font-size: 2.8vw; /* Usando unidade relativa vw para o título */
            margin-bottom: 10px;
            color: #0F334D;
            margin-top: 140px;
        }

        p {
            font-size: 1vw; /* Usando unidade relativa vw para o texto */
            margin-bottom: 40px;
        }

        .ler-mais-btn {
            display: block;
            padding: 1vw 2vw; /* Usando unidade relativa vw para o padding */
            border: none;
            color: white;
            border-radius: 20px;
            background: #21689E;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            text-decoration: none;
            width: fit-content; /* Define a largura do botão conforme o conteúdo */
        }
    </style>
</head>
<body>

    <div class="container">
        <div>
            <h1>Reciclagem de Resíduos</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <a href="https://localhost:7091/Home/SobreNos" class="ler-mais-btn">Ler Mais</a>
        </div>
            <img src="~/imageminicio.png" alt="Descrição da imagem"> *@





