<style> 
    }
    .button {
        border-radius: 10px; /* Reduzindo o raio para tornar os cantos mais arredondados */
        background-color: #21689E; /* Cor de fundo */
        border: none; /* Remova a borda */
        color: white; /* Cor do texto */
        padding: 10px 20px; /* Diminuindo o espaçamento interno */
        text-align: center; /* Alinhar texto ao centro */
        text-decoration: none; /* Remover decoração de texto */
        display: inline-block; /* Exibir como bloco */
        font-size: 14px; /* Reduzindo o tamanho da fonte */
        margin: 4px 2px; /* Margem externa */
        cursor: pointer; /* Cursor do mouse */
        bottom: 200px; /* Distância em relação ao fundo da janela */
        left: 100px; /* Distância em relação à borda esquerda da janela */
    }
    .imagem {
        right: 10px;
        position: relative;
    }
    .texto {
        position: relative;
        right: 10px;
        top: 10px;
    } 
    img {
        left: 600px;
        position: relative;
        resize: -1;
    }
</style>




<body>
    <div class="imagem">
         <img src="~/imageminicio.png" alt="Descrição da imagem" width="70%" height="70%">

         <h1>Reciclagem de Resíduos</h1>
          <p>
             Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, <br> ac aliquet odio mattis. Class aptent taciti sociosqu ad litora
             torquent per conubia nostra, per inceptos himenaeos. <br>Curabitur tempus urna at turpis condimentum lobortis.
          </p>
          <p>
             Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum,<br> ac aliquet odio mattis. Class aptent taciti sociosqu ad litora
             torquent per conubia nostra, per inceptos himenaeos. <br>Curabitur tempus urna at turpis condimentum lobortis.
          </p>
          <p>
              Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum,<br> ac aliquet odio mattis. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos himenaeos.<br> Curabitur tempus urna at turpis condimentum lobortis.
          </p>
    </div>
    <div class="imagem">
        <img src="~/imageminicio.png" alt="Descrição da imagem" width="70%" height="70%">
    </div>
    

    <a class="button" href="">Ler Mais</a>
</body>