@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reciclagem de Resíduos</h1>
    <img src="~/lib/mancha 1.png"/>
    <img src="~/lib/ffffb b f 1.png"/>
</div>
