<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sobre Nós</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/telafundo.png');
            background-size: cover; /* Garante que a imagem cubra todo o espaço disponível */
            background-position: center; /* Centraliza a imagem no corpo */
            background-attachment: fixed; /* Fixa a imagem no lugar enquanto a página é rolada */
        }

        .container {
            position: relative; /* Adiciona posição relativa */
            width: 100%; /* Define a largura do container */
            margin-bottom: 20px; /* Espaçamento abaixo do container para os textos */
            text-align: center; /* Centraliza o conteúdo */
        }

            .container img {
                width: 100%;
            }

        h1 {
            color: #0F334D;
            font-family: Tomorrow;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
            margin-top: 10px;
        }

        .texto {
            text-align: justify; /* Justifica o texto */
            margin-top: 20px; /* Espaçamento acima do texto */
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="~/Fotofaatsobrenos.png" />
        <h1>Sobre nós</h1>
    </div>
    <div class="texto">
        <p>
            Estamos comprometidos com a sustentabilidade e com a preservação do meio ambiente. Nosso projeto de coleta de resíduos divide os materiais em três categorias principais: Recicláveis, Não Recicláveis e Papel Reciclável. Os materiais recicláveis são direcionados para a coleta seletiva, onde são processados e reintegrados ao ciclo produtivo, contribuindo para a redução do desperdício e da poluição ambiental. Já os materiais não recicláveis são coletados mediante pagamento, garantindo uma gestão eficiente e responsável desses resíduos.
        </p>
        <br />
    </div>
    <div class="texto">
        <p>
            O papel reciclável também tem seu destino adequado, sendo encaminhado para a coleta especializada, onde é transformado em novos produtos, promovendo a economia de recursos naturais e a redução da emissão de gases de efeito estufa. Fique ligado para mais detalhes sobre como você pode contribuir com nosso projeto e fazer parte dessa iniciativa transformadora! Fique ligado para mais detalhes sobre como você pode contribuir com nosso projeto e fazer parte dessa iniciativa transformadora!
        </p>
    </div>
</body>
</html>
