<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sobre Nós</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/telafundo.png');
            background-size: cover; /* Garante que a imagem cubra todo o espaço disponível */
            background-position: center; /* Centraliza a imagem no corpo */
            background-attachment: fixed; /* Fixa a imagem no lugar enquanto a página é rolada */
        }


        .container {
            position: relative; /* Adiciona posição relativa */
            width: 100%; /* Define a largura do container */
            margin-bottom: 20px; /* Espaçamento abaixo do container para a linha */
        }

            .container img {
                width: 100%;
            }

        .vertical-line {
            position: absolute;
            top: 100%; /* Posiciona a linha abaixo do container */
            left: 50%; /* Posiciona a linha no centro horizontal */
            transform: translateX(-50%); /* Corrige o posicionamento para que a linha fique centralizada */
            width: 1px; /* Largura da linha */
            height: 290px; /* Altura da linha, usando 100% da altura da viewport */
            background-color: #000; /* Cor da linha */
        }

        h1 {
            color: #0F334D;
            font-family: Tomorrow;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
        }

        /* .vertical-line svg {
            position: absolute; /* Posiciona o SVG absolutamente dentro da .vertical-line */
            top: -20.5px; /* Posiciona o centro do ellipse no topo da .vertical-line */
            left: 50%; /* Posiciona o centro do ellipse no centro horizontal da .vertical-line */
            transform: translateX(-50%);
            z-index: 2; /* Coloca o ellipse acima da linha */
        }
        */

        

    </style>

    <body>

        <div class="container">
             <img src="~/Fotofaatsobrenos.png" />
        </div>
        <h1>Sobre nós</h1>
        <div class="vertical-line">
            @* <svg xmlns="http://www.w3.org/2000/svg" width="43" height="41" viewBox="0 0 43 41" fill="none">
                <ellipse cx="21.5" cy="20.5" rx="21.5" ry="20.5" fill="#21689E" />
            </svg> *@
        </div>

        



    </body>



</head>
