@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<style>

    body {
        margin: 0;
        padding: 0;
        background-image: url('/telafundo.png');
        background-size: cover; /* Garante que a imagem cubra todo o espaço disponível */
        background-position: center; /* Centraliza a imagem no corpo */
        background-attachment: fixed; /* Fixa a imagem no lugar enquanto a página é rolada */
    }

    .login-section {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        position: relative;
    }

        .login-section:before {
            content: "";
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            border: 2px solid #007bff;
            border-radius: 12px;
        }

        .login-section h2 {
            color: #333;
        }

        .login-section hr {
            border-top: 1px solid #ddd;
        }

    .form-floating {
        position: relative;
        margin-bottom: 1rem;
    }

        .form-floating input {
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .form-floating label {
            position: absolute;
            top: 0;
            left: 1.25rem;
            pointer-events: none;
            padding: 0.5rem 0.75rem;
            color: #6c757d;
            font-size: 0.9rem;
            transition: all 0.3s ease;
        }

        .form-floating input:focus + label,
        .form-floating input:not(:placeholder-shown) + label {
            font-size: 0.8rem;
            top: -0.5rem;
            left: 0.75rem;
            background-color: #f8f9fa;
            color: #333;
        }

        .form-floating span {
            font-size: 0.8rem;
        }

    .checkbox {
        display: flex;
        align-items: center;
    }

        .checkbox input[type="checkbox"] {
            margin-right: 0.5rem;
        }

        .checkbox label {
            color: #6c757d;
            font-size: 0.9rem;
            margin-left: 20px;
        }

    .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-lg {
        padding: 0.9rem 1.25rem;
        font-size: 1.1rem;
    }

    .text-center {
        text-align: center;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: "Andika New Basic";
    }

    .col-md-6 {
        max-width: 400px; /* ajuste conforme necessário */
    }

    .row, h2{
      color: #0F334D;
      margin-bottom: 30px;
      text-align: center;
    }

    .retangulo{
        flex-shrink: 0;
        border-radius: 40px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 400px;
        height: 580px;
        
    }

    .retangulo > img{
        width: 50%;
    }

    #forgot-password {
        color: #0F334D;
        font-family: "Andika New Basic";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 200px;
        text-decoration: none;
    }

</style>


<div class="row">
    <div class="col-md-4">
        <section>
            <form class="retangulo" id="account" method="post">
                <img src="~/Eco-removebg-preview 2.png" alt="Descrição da imagem">
                <h2>Faça o Login</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Digite seu Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Digite sua senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    @* <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usúario</a>
                    </p> *@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
