@model IEnumerable<Ecouni_Projeto.Models.SobreNos>

@{
    ViewData["Title"] = "Index";
}

<img src="~/Fotofaatsobrenos.png" alt="Alternate Text" />
<h1>Sobre Nós</h1>
<table class="table">
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SobreNosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SobreNosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SobreNosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
